/XmlProcessor/ToolEngine/obj
/XmlProcessor/ToolEngine/bin
/XmlProcessor/XmlProcessor/obj
/XmlProcessor/XmlProcessor/bin
/XmlProcessor/XmlProcessor/nupkg
/XmlProcessor/XmlProcessor.Logic/bin
/XmlProcessor/XmlProcessor.Logic/obj
/XmlProcessor/XmlProcessor.Logic.UT/obj
/XmlProcessor/XmlProcessor.Logic.UT/bin
/XmlProcessor/.vs/XmlProcessor/FileContentIndex
/XmlProcessor/ML.Sample/bin
/XmlProcessor/ML.Sample/obj
/Engine/ML.Sample/obj
/Engine/ML.Sample/bin
/Engine/XmlProcessor/obj
/Engine/XmlProcessor/bin
/Engine/XmlProcessor.Logic.UT/obj
/Engine/XmlProcessor.Logic.UT/bin
/Engine/.vs/Engine/FileContentIndex
/Engine/CLI.Executor/bin
/Engine/CLI.Executor/obj
/Engine/Logic.UT/obj
/Engine/Logic.UT/bin
/Engine/ML.Engine/bin
/Engine/ML.Engine/obj
/Engine/.vs/CLI.ML.Engine/FileContentIndex
/Engine/CLI.Executor/nupkg
/Engine/.vs/CLI.TR.Engine
/Engine/RT.Engine/obj
/Engine/RT.Engine/bin
